<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="DynamicSite.APIAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="DynamicSite.API">
                <endpoint address="" behaviorConfiguration="DynamicSite.APIAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="DynamicSite.API" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
