<?xml version="1.0" encoding="utf-8" ?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="CommonClient" type="MainSite.Common.CommonClient, MainSite" />
    <alias alias="TestProvider" type="MainSite.TestProvider, MainSite" />
    <alias alias="ICommon" type="MainSite.Common.ICommon, MainSite" />

    <container>
        <register type="ICommon" mapTo="CommonClient">
            <constructor>
            </constructor>
        </register>

        <register type="CommonClient" mapTo="CommonClient">
            <constructor>
            </constructor>
        </register>
        
        <register type="TestProvider" mapTo="TestProvider">
            <constructor>
            </constructor>
        </register>
    </container>
</unity>