<?xml version="1.0"?>
<configuration>


    <configSections>
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    </configSections>
    <appSettings>
    </appSettings>
    
    <log4net>
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
            <file value="isservicelog.log"/>"/>
            <appendToFile value="false"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc] ID=%property{EventID} - %message%newline" />
            </layout>
        </appender>
        
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc] ID=%property{EventID} - %message%newline" />
            </layout>
        </appender>
        
        <root>
            <level value="ALL" />
            <appender-ref ref="LogFileAppender" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>


    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add
                  name="textWriterTraceListener"
                  type="System.Diagnostics.TextWriterTraceListener"
                  initializeData="isservicelog.log" />
            </listeners>
        </trace>
    </system.diagnostics>


    <connectionStrings>
        <add name="connectionStringShopDB"
             connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DBInternetShop.mdf;Integrated Security=True;User Instance=True"/>
    </connectionStrings>

    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
                    <serviceMetadata httpGetEnabled="true"/>
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

</configuration>
