<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
      <compilation targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\scribblersdata.mdf;Integrated Security=True;User Instance=True" name="connectionString"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Scribblers.SGSAPIAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Scribblers.SGSAPI">
        <endpoint address="" behaviorConfiguration="Scribblers.SGSAPIAspNetAjaxBehavior" binding="webHttpBinding" contract="Scribblers.SGSAPI"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>